.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--header);
  width: 100%;
  padding: 0 24px;
  height: 64px;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    a {
      font-size: 24px;
      color: #fff;
      transition: 0.4s;
      &:hover {
        color: var(--secondary-color);
        // transform: translateY(-1px);
      }
    }
  }
  .utilWrap {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.gnb {
  height: 100%;
  display: flex;
  gap: 32px;
  position: relative;
  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    font-size: 18px;
    &:hover {
      color: var(--secondary-color);
    }
    &.on {
      color: var(--secondary-color);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 100%;
        height: 3px;
        background: var(--secondary-color);
      }
    }
  }
}

.mobileNav {
  display: none;
}

.mobileMenu {
  display: none;
}

.darkModeBtn {
  position: relative;
  width: 64px;
  height: 36px;
  border-radius: 18px;
  background: var(--lighten-color1);
  padding: 4px 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .circle {
    position: absolute;
    --circleSize: 28px;
    width: var(--circleSize);
    height: var(--circleSize);
    border-radius: 50%;
    background: var(--secondary-color);
    transition: 0.4s;
    &.light {
      right: 4px;
    }
    &.dark {
      // left: 4px;
      right: calc(100% - var(--circleSize) - 4px);
    }
  }
}

@media screen and (max-width: 769px) {
  .header {
    height: 56px;
    padding: 0 16px;
    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      > a {
        font-size: 20px;
      }
    }
  }
  .utilWrap {
    justify-content: space-between;
    width: 100%;
  }

  .gnb {
    display: none;
  }

  .mobileNav {
    display: block;
    margin-top: 56px;
    position: fixed;
    padding: 16px;
    top: 0;
    left: -360px;
    background: var(--achromatic1);
    // min-width: 200px;
    // max-width: 360px;
    width: clamp(180px, 40%, 360px);
    height: calc(100vh - 56px);
    transition: all 0.4s ease-out;
    display: flex;
    flex-direction: column;
    gap: 16px;
    > a {
      font-size: 18px;
      width: 100%;
      &.on {
        color: var(--secondary-color);
      }
    }
    &.active {
      left: 0;
    }
  }

  .mobileMenu {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
