.main {
  // border: 1px solid red;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: calc(100vh - 64px - 64px);
  display: flex;
  align-items: center;
  .flexBox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 24px;
    display: flex;
    gap: 100px;
    align-items: center;
    > a {
      position: absolute;
      bottom: 0;
      right: 30px;
      display: block;
      padding: 12px 18px;
      border-radius: 24px;
      color: #ffffff;
      background: var(--primary-color);
      &:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
      }
    }
    .pictureWrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .picture {
        width: 300px;
        height: 400px;
        flex-shrink: 0;
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .contact {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-left: 4px;
        .phone,
        .mail {
          display: flex;
          align-items: center;
          gap: 4px;
          font-size: 18px;
          font-weight: 200;
          color: var(--text-color);
          &::before {
            content: "";
            display: block;
            width: 4px;
            height: 18px;
            background: var(--text-color);
          }
        }
      }
    }
    .desc {
      flex-grow: 1;
      height: auto;
      .title {
        font-size: 38px;
        color: var(--text-color);
        line-height: 1.2;
        margin-bottom: 16px;
        > em {
          color: var(--primary-color);
        }
      }
      .introText {
        color: var(--text-color2);
        font-weight: 300;
        margin-bottom: 24px;
        word-break: keep-all;
      }
      .stackList {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .classification {
          > h3 {
            font-size: 18px;
            padding-bottom: 12px;
            color: var(--primary-color);
            display: flex;
            align-items: center;
            gap: 4px;
            &::before {
              content: "";
              display: block;
              width: 10px;
              height: 10px;
              background: var(--primary-color);
              transform: translateY(2px);
            }
            // > mark {
            //   background: var(--secondary-color);
            //   padding:0 8px;
            // }
          }
          .items {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 4px;
          }
        }
        .stack {
          position: relative;
          margin-bottom: 4px;
          padding: 6px;
          width: fit-content;
          border-radius: 4px;
          background: var(--lighten-color4);
          color: var(--text-color);
          display: flex;
          align-items: center;
          gap: 4px;
          > span {
            display: inline-block;
            padding-right: 1px;
          }
          .star {
            padding: 0;
            margin: 0;
            position: absolute;
            top: -8px;
            right: -4px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    padding-bottom: 60px;
    .flexBox {
      gap: 32px;
      flex-direction: column;
      align-items: start;
      .pictureWrap {
        flex-direction: row;
        align-items: end;
        justify-content: start;
        .picture {
          width: 200px;
          height: 266px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    .flexBox {
      align-items: center;
      padding: 16px;
      padding-bottom: 80px;
      > a {
        right: 50%;
        transform: translateX(50%);
      }
      .pictureWrap {
        align-items: center;
        .picture {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          > img {
            object-fit: cover;
          }
        }
      }
      .desc {
        .title {
          font-size: 24px;
        }
        .introText {
          font-size: 12px;
          line-height: 1.2;
        }
        .stackList {
          .classification {
            > h3 {
              position: relative;
              font-size: 16px;
              padding-left: 12px;
              &::before {
                position: absolute;
                left: 0;
                top: 3px;
                width: 8px;
                height: 8px;
              }
            }
          }
          .stack {
            padding: 5px;
            > span {
              font-size: 14px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .main {
    .flexBox {
      .pictureWrap {
        flex-direction: column;
        .contact {
          .phone, .mail {
            font-size: 16px;
            &::before {
              width: 2px;
              height: 16px;
            }
          }
        }
      }
    }
  }
}
