.main {
  border:1px solid red;
  margin:0 auto;
  max-width: 1400px;
  min-width:320px;
  > div {
    padding: 30px;
    background: var(--bg-color);
    h3 {
      font-size: 48px;
      color:var(--text-color);
    }
  }
}

.modeBtn {
  font-size: 18px;
  padding: 5px 15px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 4px;
  border:none;
}

// .main {
//   > div {
//     padding: 30px;
//     background: $bg-color;
//     h3 {
//       font-size: 48px;
//       color:$text-color;
//     }
//   }
// }

// .modeBtn {
//   font-size: 18px;
//   padding: 5px 15px;
//   background: $primary-color;
//   color: $secondary-color;
//   border-radius: 4px;
//   border:none;
// }
