//-------------Project Page, Detail Page
.container,
.detailWrap {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  .pageTitle {
    font-size: 24px;
    padding: 24px;
    font-weight: 400;
    color: var(--primary-color);
  }
  .gridBox {
    margin-bottom: 60px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    > a {
      display: block;
    }
  }
}

//-------------ProjectCard
.projectCard {
  width: 100%;
  height: 300px;
  box-shadow: 0 1px 3px var(--box-shadow-color);
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  background: var(--lighten-color4);
  border: 2px solid transparent;
  &:hover {
    // transform: scale(1.01);
    border: 2px solid var(--achromatic3);
  }
  > img {
    width: 100%;
    height: 200px;
    box-shadow: 0 1px 2px var(--box-shadow-color);
  }
  .desc {
    padding: 8px;
    color: var(--text-color);
    transition: none;
    > h3 {
      font-size: 18px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .stacks {
      font-size: 14px;
      color: var(--text-color2);
    }
  }
}

//-------------Slider
.slider {
  background: cadetblue;
  aspect-ratio: 2;
  width: 100%;
  position: relative;
  overflow: hidden;
  .prev,
  .next {
    position: absolute;
    border: none;
    aspect-ratio: 0.33;
    width: clamp(24px, 4%, 40px);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0.2);
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
    z-index: var(--interaction-button);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: rgba(49, 136, 236, 0.8);
      * {
        fill: #e5e5e5;
      }
    }
    &:disabled {
      background: rgba(0, 0, 0, 0.1);
      * {
        fill: none;
      }
    }
  }
  .prev {
    left: 0;
    &:hover {
      transform: translate(2px, -50%);
    }
  }
  .next {
    right: 0;
    &:hover {
      transform: translate(-2px, -50%);
    }
  }
  .pager {
    position: absolute;
    left: 50%;
    bottom: 10px;
    z-index: var(--interaction-button);
    transform: translateX(-50%);
    display: flex;
    gap: 6px;
    .circle {
      all: unset;
      cursor: pointer;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--primary-color);
      opacity: 0.8;
      box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
      &.active {
        background: var(--secondary-color);
      }
    }
  }
  .slideFrame {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    transition: 0.3s;
    .slide {
      width: 100%;
      height: 100%;
      //   background: var(--lighten-color2);
      background: var(--achromatic1);
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        width: auto;
        object-fit: contain;
        height: 100%;
      }
    }
  }
}

//-------------UsedStack
.usedStack {
  width: 100%;
  height: auto;
  padding: 8px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  //색상 정한 색으로 바꾸기
  border-top: 1px solid var(--achromatic3);
  border-bottom: 1px solid var(--achromatic3);
  //   border-top: 1px solid var(--text-color);
  //   border-bottom: 1px solid var(--text-color);
  .stackBadge {
    width: auto;
    padding: 6px 12px;
    font-size: 16px;
    // background: #ddd;
    background: var(--primary-color);
    border-radius: 4px;
    color: #ffffff;
  }
}

//LinkBox
.linkBox {
  width: 100%;
  padding: 8px 16px;
  border-bottom: 1px solid var(--achromatic3);
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--text-color);
  .iconLink {
    margin-right: 6px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    svg {
      fill: var(--text-color);
    }
  }
}

//-------------Description
.description {
  width: 100%;
  margin-bottom: 60px;
  padding: 12px 24px;
  color: var(--text-color);
  border-bottom: 1px solid var(--achromatic3);
  .title {
    font-size: 24px;
    padding: 12px 0;
    font-weight: 600;
    // background: var(--bg-color);
    // background: var(--achromatic3);
  }
  .sectionTit {
    font-size: 20px;
    padding: 12px 0;
    font-weight: 600;
  }
  .desc {
    font-size: 16px;
    padding-left: 8px;
    padding-bottom: 12px;
  }
}
