//-------------Project Page, Detail Page
.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 320px;
  min-height: calc(100vh - 64px - 64px);
  .pageTitle {
    font-size: 24px;
    padding: 24px;
    font-weight: 400;
    color: var(--primary-color);
  }
  .gridBox {
    margin-bottom: 60px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    grid-auto-rows: minmax(max-content, auto);
    .link {
      width: 100%;
      height: auto;
      align-self: stretch;
      background: var(--lighten-color4);
      box-shadow: 2px 4px 6px var(--box-shadow-color);
      transition: 0.3s;
      &:hover {
        box-shadow: 2px 4px 6px var(--box-shadow-color),
          0 10px 10px var(--box-shadow-color);
      }
    }
  }
}

//-------------ProjectCard
.projectCard {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  .imgWrap {
    width: 100%;
    height: 200px;
    background: var(--achromatic2);
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .textArea {
    padding: 8px;
    .infoArea {
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      .title {
        transition: none;
        font-size: 18px;
        color: var(--text-color);
        font-weight: 500;
      }
      .stacks {
        letter-spacing: 0;
        line-height: 1.2;
        word-break: keep-all;
        font-size: 14px;
        font-weight: 200;
        color: var(--text-color2);
      }
    }
    .desc {
      flex-grow: 1;
      transition: none;
      font-size: 14px;
      line-height: 1.1;
      color: var(--text-color);
    }
  }
}

@media screen and (max-width: 920px) {
  .container {
    .gridBox {
      margin-bottom: 60px;
      padding: 0 24px;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
      > a {
        display: block;
      }
    }
  }
  .projectCard {
    .imgWrap {
      > img {
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .gridBox {
      gap: 8px;
    }
    .pageTitle {
      padding: 16px;
    }
    .gridBox {
      grid-template-columns: 1fr;
      padding: 0 16px;
    }
  }
  .projectCard {
    flex-direction: row;
    .imgWrap {
      min-width: 50%;
      max-width: 50%;
      height: 100%;

      > img {
        object-fit: cover;
      }
    }
    .textArea {
      width: 50%;
    }
  }
}

@media screen and (max-width: 560px) {
  .container {
    .gridBox {
      grid-template-columns: 1fr;
    }
  }
  .projectCard {
    display: flex;
    flex-direction: column;
    height: auto;
    .imgWrap {
      min-width: 100%;
      max-width: 100%;
      height: 100%;
    }
    .textArea {
      width: 100%;
    }
  }
}
